.select {
    width: 100%;
    height: 100%;
    padding: var(--pad-xs) var(--pad-sm);
    font-size: var(--font-size-small);
    border-radius: 0.2rem;
    transition: 0.4s ease;
    border: 1px solid var(--border-input);
    outline: none;
    background-color: var(---bg-input);
    color: var(--text-input);
}

.select:focus {
    box-shadow: 0 0 0 2px var(--accent-primary-soft);
    outline: none;
}