.select {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 0.2rem;
    background-color: #fff;
    transition: 0.4s ease;
    border: 1px solid #d1d5db;
    outline: none;
}

.select:focus {
    box-shadow: 0 0 0 2px var(--green-light);
    outline: none;
}