.container {
  display: grid;
  align-items: stretch;
  gap: 0.75rem;
  grid-template-columns: 2fr 1fr;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.facilities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
  }
}