.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--gradient-primary);

    height: 80px;
    padding: var(--pad-md);

    position: sticky;
    top: 0;
    z-index: 10000;
}

.isNotHome {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}

.logo {
    width: 3.2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    margin-left: 10px;
}

.header h1 {
    color: var(--white-green);
}

.container {
    width: 300px;
    transition: 2s ease;
}

div[is-home="true"] {
    transform: translateY(42.5px);
}

div[is-scroll="true"] {
    transform: translateY(0);
}

.register {
    display: flex;
    gap: 10px;
}

.header:has(div[is-scroll="true"]) {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
}


@media (max-width: 1024px) {
    .search {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .search {
        width: 250px;
    }

    .header h1 {
        display: none;
    }
}


@media (max-width: 480px) {
    .search {
        width: 200px;
    }

    .header h1 {
        display: none;
    }
}