.locationContainer {
  position: relative;
}
.mapContainer {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: 1;
  animation: fadeIn 0.8s ease forwards;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    /*/ top /*/
    top: 90%;
  }
  to {
    opacity: 1;
    top: 120%;
  }
}

.map {
  width: 100%;
  height: 100%;
}
