.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fafafa;
  text-align: center;
  padding: 0 var(--pad-xl);
}

.code {
  font-size: 9rem;
  font-weight: 700;
  color: var(--accent-primary-strong); /* Indigo */
  margin: 0;
}

.text {
  font-size: var(--font-size-large);
  color: var(--text-muted);
  margin-bottom: 1.5rem;
}

.btn {
  padding: var(--pad-lg) var(--pad-3xl);
  background: var(--accent-primary-strong);
  color: var(--bg-container);
  font-size: var(--font-size-medium);
  border-radius: 12px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
}
