.container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 700;
  background:linear-gradient(var(--gradient-secondary));
  color: var(--white-green);
}

.name {
  font-size: 1rem;
  font-weight: 600;
  color: #515953;
}

