.container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}

.img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.placeholder {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background: var(--gradient-secondary);
  color: var(--white-green);
}

.name {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--text-primary);
}