.close {
  position: absolute;
  background-color: transparent;
  border: none;
  width: fit-content;
  transition: 0.3s ease;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  top: 10px;
  right: 10px;
  color: var(--text-muted);
  cursor: pointer;
}

.close:hover{
    transform: scale(1.1);
}

.icon {
  width: 100%;
  height:100%;
}