.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container input {
  height: 40px;
}


.container>h3 {
  align-self: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.description {
  font-size: var(--font-size-small);
  color: var(--text-secondary);
  white-space: wrap;
}