.card {
    position: relative;
    background-color: var(--bg-card);
    border-radius: var(--radius-lg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-default);
    background-color:var(--bg-card);
    height: fit-content;
    overflow: hidden;
    transition: 0.2s ease;
}

.card:hover {
    background-color: var(--bg-card-hover);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.icon {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: var(--pad-xs);
    top: 10px;
    right: 10px;
}

.info {
    padding: var(--pad-md);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.icon:hover {
    transform: scale(1.25);
}

.name {
    margin: 10px auto;
}