.info {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem 1.2rem;
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid var(--color-border);
}

.name {
    align-self: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.4rem;
}

.facilitie {
    font-size: 0.8rem;
    color: var(--white-green);
    background-color: var(--green-dark);
    padding: 5px 10px;
    border-radius: 13px 6px 16px 8px / 8px 14px 6px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.facilities::before{
    font-size: 1rem;
    font-weight: 700;
    margin-right: 5px;
}

.facilities::before {
    content: "Facilities :";
}

.availableDays {
    margin: 0.2rem 0;
}

.ownerAndBooking {
    display: flex;
    justify-content: space-between;
}

.btn {
    align-self: center;
}
