.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: var(--pad-md) var(--pad-xl);
    font-size: var(--font-size-small);
    font-weight: 600;
    border-radius: 9999px;
    background-color: var(--accent-primary-strong);
    color: #f4fce3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--accent-primary-soft);
    transform: scale(1.01);
}

.btn:active {
    background: var(--accent-primary-strong);
    transform: scale(0.99);
}

.btn:disabled {
    opacity: 0.6;
    background: var(--accent-primary-strong);
    box-shadow: none;
    transform: none;
    pointer-events: none;
    cursor: not-allowed;
}