.container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 1.2fr 1fr;
    min-height: 450px;
}

.container>* {
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 400px auto 400px;
    }
}