.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  display: flex;
  gap: 0.4rem;
  align-items: end;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--green-dark);
}

.title span {
  font-size: 1.8rem;
  color: var(--black-green);
  font-weight: 700;
}

.form input,
.form select {
  height: 40px;
  border-radius: 8px;
}

.daysPrice {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;
  color: #393a39;
}

.submitBtn {
  height: 50px;
}