.container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  display: flex;
  gap: 0.4rem;
  align-items: end;
  justify-content: center;
  font-size: var(--font-size-xl);
  margin-bottom: 1rem;
  color: var(--accent-primary-strong);
}

.title span {
  font-size: var(--font-size-xl);
  color: var(--text-primary);
  font-weight: 700;
}

.form input,
.form select {
  height: 40px;
  border-radius: 8px;
}

.daysPrice {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--font-size-medium);
  color: var(--text-primary);
}

.submitBtn {
  height: 50px;
}