.list {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.list li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: var(--pad-md);
    border-left: 4px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}

.end {
    justify-content: space-between;
}

.list li:hover {
    background-color: var(--bg-card-hover);
}

.list .active {
    border-left: 4px solid var(--accent-primary-soft);
    color: var(--accent-primary-strong);
    stroke: var(--accent-primary-strong);
}

.list .active .icon {
    fill: var(--accent-primary-strong);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}