input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.5);
}

input[type="date"]::-webkit-datetime-edit {
  color: var(--text-primary);
  font-size: var(--font-size-medium);
}

input[type="date"]:focus {
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
