.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.section h4 {
  font-size: var(--font-size-medium);
  font-weight: 600;
  margin-bottom: 10px;
}

.options {
  display: flex;
  gap: 10px;
}

.options button {
  flex: 1;
  padding: var(--pad-md) 0;
  border-radius: 10px;
  border: 1px solid var(--border-default);
  background-color: var(--bg-container);
  font-size: var(--font-size-small);
  cursor: pointer;
  transition: 0.2s ease;
}

.options button:hover {
  border-color: var(--accent-primary-soft);
}

.options button.active {
  border-color: var(--accent-primary-soft);
  background-color: #f7fee7;
  color: var(--accent-primary-strong);
  font-weight: 600;
}

