.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.section h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.options {
  display: flex;
  gap: 10px;
}

.options button {
  flex: 1;
  padding: 10px 0;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  background-color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.options button:hover {
  border-color: var(--green-light);
}

.options button.active {
  border-color: var(--green-light);
  background-color: #f7fee7;
  color: var(--green-dark);
  font-weight: 600;
}

