.container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container select {
  height: 40px;
}

.info {
  padding: var(--pad-md);
  border-radius: 12px;
  background-color: var(--bg-input-hover);
  color: var(--accent-primary-strong);
  font-size: var(--font-size-medium);
}
