.layout {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    min-height: 75vh;
    gap: 0.8rem;
}

.layout > *{
    height: fit-content;
    padding: var(--pad-md);    
}

.layout > :nth-child(-n+2) {
    border-right: 1px solid var(--border-default);
}
