.container {
    width: 100%;
}

.composition {
    position: relative;
}

.input {
    width: 100%;
    height: 100%;
    padding: var(--pad-xs) var(--pad-md);
    font-size: var(--font-size-small);
    background-color: var(---bg-input);
    border: 1px solid var(--border-input);
    border-radius: 0.2rem;
    transition: 0.4s ease;
    outline: none;
    color: var(--text-input);
}

.input:focus {
    box-shadow: 0 0 0 2px var(--accent-primary-soft);
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
    width: 1em;
    height: 1em;
    color: var(--text-icon);
    cursor: pointer;
}