.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: 0.2s ease;
  cursor: pointer;
}


.favorite:hover{
  transform: scale(1.1);
}

.fav {
  stroke: crimson;
  fill: crimson;
}

.notFav {
  stroke: gray;
}