.favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-surface-soft);
  border: none;
  border-radius: 50%;
  transition: 0.2s ease;
  cursor: pointer;
}

.favorite:hover {
  transform: scale(1.1);
}

.fav {
  stroke: crimson;
  fill: crimson;
}

.notFav {
  stroke: gray;
}