.text{
    width: 100%;
    min-height: 90px;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid var(--color-border);
    font-size: 0.85rem;
    transition: 0.3s ease;
    scrollbar-width: none;
    scroll-padding: 0;
    background-color: #fff;
    resize: none;
}

.text:focus {
    box-shadow: 0 0 0 2px var(--green-light);
    outline: none;
}