.text{
    width: 100%;
    min-height: 90px;
    padding: var(--pad-md);
    border-radius: 0.2rem;
    border: 1px solid var(--border-default);
    font-size: var(--font-size-small);
    transition: 0.3s ease;
    scrollbar-width: none;
    scroll-padding: 0;
    background-color: var(--bg-container);
    resize: none;
}

.text:focus {
    box-shadow: 0 0 0 2px var(--accent-primary-soft);
    outline: none;
}