.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1300px;
    border: 1px solid var(--color-border);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg-container);
    min-height: 500px;
}

.cards {
    display: grid;
    gap: 0.5rem;
}