 .days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     gap: 5px;
 }

 .day {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     min-width: 35px;
     max-width: 45px;
     height: 25px;
     border-radius: 13px 6px 16px 8px / 8px 14px 6px 12px;
     font-size: 0.75rem;
 }

 .day[data-available="false"] {
     background-color: #e03131;
     border: 4px solid #c92a2a;
     color: #ece6e6;
     box-shadow: 0 2px 4px #ffa8a8;
 }


 .day[data-available="true"] {
     background-color: #1c7ed6;
     border: 4px solid #228be6;
     box-shadow: 0 2px 4px #d0ebff;
     color: #e7f5ff;
 }