 .days {
     display: grid;
     grid-template-columns: repeat(7, 1fr);
     gap: 5px;
 }

 .day {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: var(--pad-xs);
     min-width: 35px;
     max-width: 45px;
     height: 25px;
     border-radius: 13px 6px 16px 8px / 8px 14px 6px 12px;
     font-size: var(--font-size-smaller);
 }

 .day[data-available="false"] {
     background-color: #e03131;
     border: 1px solid var(--border-default);
     color: #ece6e6;
 }


 .day[data-available="true"] {
     background-color: #1c7ed6;
     border: 1px solid var(--border-default);
     color: #e7f5ff;
 }