.photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50%;
    height: 100%;
    border-radius: 5px;
    gap: 5px;
    overflow: hidden;
}

.img {
    border-radius: 10px;
    overflow: hidden;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img:nth-child(1) {
    grid-column: span 2;
}

.img:nth-last-child(1) {
    position: relative;
    z-index: 1;
}

.img:nth-last-child(1)::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
    content: "+7";
    width: 100%;
    height: 100%;
    font-size: 2.25rem;
    background: rgba(0, 0, 0, 0.4);
    color: var(--white-green);
    overflow: hidden;
}