.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 5px;
    gap: 3px;
    font-weight: 700;
    font-size: var(--font-size-large);
    color: var(--accent-primary-strong);
}