.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: var(--pad-xl) 0;
  background: var(--gradient-primary);
  color: var(--white-green);
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.footerLinks {
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerLinks a {
  color: inherit;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
  color: #ffdd00;

}

.social a {
  margin: 0 8px;
  color: inherit;
  font-size: var(--font-size-large);
}

.social a:hover {
  color: #ffdd00;
}