* {
  scrollbar-width: thin;          
  scrollbar-color: var(--color-scrollbar) #f1f1f1;
}

::-webkit-scrollbar {
  width: 10px;     
}        

::-webkit-scrollbar-track {
  background: #f1f1f1;     
  border-radius: 10px;
}

