.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(var(--gradient-primary));

    background-color: var(--green-dark);
    background-image: radial-gradient(rgba(255, 255, 255, 0.25) 1px,
            transparent 1px);
    background-size: 20px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-radius: 18px;

}

.container h2 {
    color: var(--green-dark);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}