.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--gradient-primary);

    background-color: var(--accent-primary-strong);
    background-image: radial-gradient(rgba(255, 255, 255, 0.25) 1px,
            transparent 1px);
    background-size: 20px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: var(--pad-xl);
    border-radius: 0.75rem;
    background-color: var(--bg-container);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-radius: 18px;

}

.container h2 {
    color: var(--accent-primary-strong);
    margin-bottom: 1rem;
    font-size: var(--font-size-xl);
    font-weight: 700;
}