.overlay {
    position: fixed;
    top: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
}

.container {
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--bg-card);
    padding: var(--pad-xl);
    border-radius: 0.75rem;
    border: 1px solid var(--border-default);
    z-index: 100000;
}

.title {
    display: flex;
    justify-items: center;
    gap: 0.4rem;
    align-items: end;
    justify-content: center;
    font-size: var(--font-size-large);
    color: var(--accent-primary-strong);
}

.title span {
    font-size: var(--font-size-large);
    color: var(--text-primary);
    font-weight: 700;
}

.rate {
    justify-content: center;
    gap: 0.75rem;
}


.text {
    height: max-content;
}