.overlay {
    position: fixed;
    top: 0;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999;
}

.form {
    position: fixed;
    width: 400px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    z-index: 100000;
}

.title {
    display: flex;
    justify-items: center;
    gap: 0.4rem;
    align-items: end;
    justify-content: center;
    font-size: 1.25rem;
    color: var(--green-dark);
}

.title span {
    font-size: 1.45rem;
    color: var(--black-green);
    font-weight: 700;
}

.rate {
    justify-content: center;
    gap: 0.75rem;
}
/* 
.text {
    height: max-content;
} */