.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 240px;
  border-radius: 10px;
  padding: 20px;
  gap: 15px;
  background-color: var(--color-bg-card);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rateDate {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.date {
  font-weight: 500;
  font-size: 1rem;
}

.message {
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 100%;
  padding: 10px;
  font-size: 0.95rem;
  color: #444444;
  line-height: 1.4;
}