.anchor {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-bottom: 10px;
    margin-left: 5px;
    gap: 3px;
    font-weight: bold;
    font-size: var(--font-size-large);
}

.anchor:hover > * {
    cursor: pointer;
    color: var(--accent-primary-soft);
    fill: var(--accent-primary-soft);
    stroke: var(--accent-primary-soft);
}

.anchor h3 {
    color: var(--accent-primary-strong);
}

.arrow{
    fill: var(--accent-primary-strong);
    stroke: var(--accent-primary-strong);
}