.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  
  --spinner-translate: translate(-50%, -50%);
  
  transform: var(--spinner-translate);
  width: 150px;
  height: 150px;
  border: 1px solid var(--color-border);
  border-top-color: var(--green-light);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: var(--spinner-translate) rotate(360deg);
  }
}


@media (max-width: 480px) {
  .spinner {
    width: 70px;
    height: 70px;
    border-width: 0.35rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .spinner {
    width: 100px;
    height: 100px;
    border-width: 0.45rem;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .spinner {
    width: 130px;
    height: 130px;
    border-width: 0.5rem;
  }
}

@media (min-width: 1201px) {
  .spinner {
    width: 150px;
    height: 150px;
    border-width: 0.5rem;
  }
}
