.card {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 0.8rem;
    padding: 0.75rem;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid var(--color-border);
    overflow: hidden;
}

.info {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 0.7rem;
    column-gap: 1.2rem;
}

.subInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.image {
    width: 130px;
    height: 100%;
    border-radius: 12px;
}

.title {
    grid-column: span 2;
    width: 50%;
    height: 20px;
    border-radius: 6px;
}

.date,
.duration,
.price,
.rate,
.owner {
    width: 70%;
    height: 18px;
    border-radius: 6px;
}

.status {
    width: 50%;
    height: 16px;
    border-radius: 0.7rem;
}