.infoSkeleton {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    padding: 16px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border: 1px solid #eaeaea;
    border-radius: 8px;
    height: 100%;
}

.name {
    width: 30%;
    height: 28px;
    border-radius: 10px;
    align-self: center;
}

.label {
    width: 40%;
    border-radius: 6px;
    height: 16px;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.facility {
    width: 80px;
    height: 26px;
    border-radius: 13px 6px 16px 8px / 8px 14px 6px 12px;

}

.rating {
    width: 120px;
    border-radius: 6px;
    height: 20px;
}

.price {
    width: 80px;
    border-radius: 6px;
    height: 22px;
}

.days {
    display: flex;
    gap: 6px;
}

.day {
    flex: 1;
    width: 36px;
    height: 24px;
    border-radius: 13px 6px 16px 8px / 8px 14px 6px 12px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}


.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile p:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile p:last-child {
  width: 140px;
  border-radius: 5px;
  height: 14px;
}


.button {
    width: 90px;
    height: 36px;
    border-radius: 999px;
}
