.container {
  display: flex;
  gap: 0.3rem;
}

.label {
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--green-black);
}


.value {
  font-size:var(--font-size-medium);
  font-weight: 500;
  color: var(--green-black);
}
