.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
}

.form p {
    text-align: center;
    color: var(--text-secondary);
}

.form input {
    height: 40px;
}

.link {
    color: var(--accent-primary-strong);
    cursor: pointer;
    font-weight: 600;
}

.link:hover {
    text-decoration: underline;
}

.authHint{
    align-self: start;
    font-size: 0.85em;
    margin-left: 10px;
}