.container {
    width: 100%;
    height: 100%;
}

.container span {
    margin-left: 5px;
    color: var(--text-primary);
    font-weight: 500;
    font-size: var(--font-size-smaller);
}

.row {
    display: grid;
    grid-template-columns: 110px 1fr;
    align-items: center;
    gap: 0.25rem;
}

.column {
    display: grid;
    gap: 0.2rem;
}